<!DOCTYPE html>
<html>
  <head>
    <title>Pixis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:300,400,400i,700" rel="stylesheet">
  </head>

  <body>

    <%= render "layouts/header" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render "layouts/footer" %>

    <script src="https://player.vimeo.com/api/player.js"></script>
  </body>
</html>
